{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

{% block scripts %}
<style>
    #content {
        max-width: 100%;
    }
</style>
{% endblock %}

    <div class="test-list stripes hoverable">

        <!-- Only show Pending tests for the front page of the Index -->
        {% if paging.page == 1 %}

            <!-- Currently Pending tests (Waiting to be approved) -->
            {% if pending %}
                <div class="table-header">Pending</div>
                {% for test in pending %}
                    <div class="test-row">
                        {% include "OpenBench/Blocks/testsummary.html" %}
                    </div>
                {% endfor %}
                <div class="table-spacer"></div>
            {% endif %}

            <!-- Currently Running tests (Waiting to be completed) -->
            {% if active %}
                <div class="table-header">Active {{status}}</div>
                {% for group in active %}
                    <div class="table-small-header">Priority {{group.priority}}</div>
                    {% for test in group.tests %}
                        <div class="test-row">
                            {% include "OpenBench/Blocks/testsummary.html" %}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="table-spacer"></div>
            {% endif %}

        {% endif %}

        <!-- Tests which have already finished -->
        <div class="table-header">Finished</div>
        {% for test in completed %}
            <div class="test-row">
                {% include "OpenBench/Blocks/testsummary.html" %}
            </div>
        {% endfor %}

    </div>

    {% include "OpenBench/Blocks/pagebrowser.html" %}

{% endblock %}
